.Support {
    height: 170vh;
    width: 100%;
}

.Support h2{
    text-align: center;
    font-size: 60px;
    padding: 60px 0px 60px 0px;
}
.Support-wrapped {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: 50px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px){
    .Support {
        height: 190vh;
        width: 100%;
    }
    .Support h2{
        font-size: 35px;
        padding: 70px;
    }
    .Support-wrapped{
        display: flex;
        flex-direction: column;
    }
}